html, body{
  height:  95%;
  margin: 0 5px !important;
  padding: 0 !important;
}

#map_canvas{
  height: 50%;
}

.caja{
  margin-top: 15px !important;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.col-xs-6{
  padding: 0px 5px !important;
}

.inline{
  display: inline !important;
  width: 18% !important;
}

.form-control{
  margin: 5px;
}
